class 1

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("My name is Revathi")

My name is Revathi

In [ ]:
# 012345 are called as int
# 1.0,2.0,3.0 are called as float

to comment a line put hashtag(#) it.to comment multiple line press ctrl+?

In [ ]:
a=5
b=6.8
print(a)
print(b)
print(type(a))
print(type(b))

5
6.8
<class 'int'>
<class 'float'>

In [ ]:
c="Revathi"
d="xyz"
print(c)#print the value of c
print(d)#print the value of d
print(type(c))#print the data type of c
print(type(d))#print the data type of d
Print(c)#here the error id capital P.

Revathi
xyz
<class 'str'>
<class 'str'>

In [ ]:
is_active = True
is_hero = False
print(type(is_active))
print(type(is_hero))

<class 'bool'>
<class 'bool'>

In [ ]:
x="abcd"
print(type(x))

<class 'str'>

In [ ]:
a=4
b=6
c=5
sum=a+b+c
print(f"The sum of a,b,c is {sum}.")

# Define the missing variables
sub = a - b
product = a * b
div = a / b
xy = a * c # Assuming xy is a * c, as 'x' is a string and 'y' is not defined

print(f"The subtraction of a and b is {sub}.")
print(f"The product of a and b is {product}.")
print(f"The division of a by b is {div}.")
print(f"The value of xy is {xy}.")

The sum of a,b,c is 15.
The subtraction of a and b is -2.
The product of a and b is 24.
The division of a by b is 0.6666666666666666.
The value of xy is 20.

In [ ]:
g=int(input())
h=float(input())
sum=g+h
print(sum)

5
6
11.0

In [ ]:
g=int(input("Enter the value of g:"))#Iam taking the input from user in integer form
h=int(input("Enter the value of h:"))
product=g*h
print(f"The product of g and h is {product}.")

Enter the value of g:4
Enter the value of h:6
The product of g and h is 24.

class 4-07/01/2026
Conditional statements

In [22]:
#if the given number is even multiply it with 10 else multiply it with 5
#Q1.if the num is even multiply it with 10 else multiply it with 5
#Q2.check if the number is positive,nehative,or zero.


num=int(input("Enter the number:"))
if num > 0:
  if num%2==0:
     print(num*10)
  else:
    print(num*5)
else:
    print("Enter the number greater than 0.")
#Q2.check if the number is positive,nehative,or zero.
num=int(input("Enter the number:"))
if num > 0:
    print("The number is positive.")
elif num < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter the number:2
20
Enter the number:-4
The number is negative.

In [26]:
#Q3.find the largest of two numbers,a is greater than b,b is greater than a,or both are equal
num1=int(input("Enter the first number:"))
num2=int(input("Enter the second number:"))
if num1>num2:
  print(f"{num1} is greater than {num2}.")
  print(f"{num2} is smaller than {num1}.")

Enter the first number:6
Enter the second number:3
6 is greater than 3.
3 is smaller than 6.

In [30]:

##Q4. Home-work: if marks above 90 "grade A", if above 75 "grade b", if above 60 "pass" if less than 60 "fail".
marks=int(input("Enter the marks:"))
if marks >90:
  print("Grade A")
elif marks >75:
  print("Grade B")
elif marks >60:
    print("Pass")
else:
    print("Fail")

Enter the marks:45
Fail

Loop conditions:do,while,dowhile

In [31]:
#Loop
for i in range(8):
  print(i)

0
1
2
3
4
5
6
7

In [35]:
for i in range(3,18):
 print(i)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17

In [38]:
for i in range(1,50,5):
  print(i)

1
6
11
16
21
26
31
36
41
46

In [41]:
for i in range(1,20,4):
  print(i, end=" ")

1 5 9 13 17

In [44]:
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [45]:
#give me a table 2
for i in range(1,11):
  print(f"2*{i}={2*i}")

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [46]:
#give me a table 2
for i in range(2,21,2):
  print(i)

2
4
6
8
10
12
14
16
18
20

In [47]:
# all the odd numbers between 51 and 100 in horizontal format and use if condition
for i in range (51,100):
  if i%2==1:
    print(i,end=" ")

51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [49]:
#all the numbers from 1 to 100 divisible by 5 and 6 only
for i in range(1,100):
  if i%2 / 5:
    print(i)
  elif i%2 /6:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [50]:
#all the numbers from 1 to 100 divisible by 5 and 6 only
for i in range(1,100):
  if i%5==0:
    if i%6==0:
      print(i,end=" ")

30 60 90

In [53]:
for i in range (10,1,-1):
  print(i)

10
9
8
7
6
5
4
3
2

In [63]:
#while loop
num=int(input("enter a number"))
while num <=10:
  print("the nuber is less than or equal to 10.try again!")
  num=int(input("enter a nuber"))
  print("you have entered the greater number than 10. Thankyou!")

enter a number5
the nuber is less than or equal to 10.try again!
enter a nuber4
you have entered the greater number than 10. Thankyou!
the nuber is less than or equal to 10.try again!
enter a nuber10
you have entered the greater number than 10. Thankyou!
the nuber is less than or equal to 10.try again!
enter a nuber11
you have entered the greater number than 10. Thankyou!

In [70]:
#take inputs from user a,b and sum of both must be 100.
a = int(input("enter the number"))
b = int(input("enter the number"))
while (a + b) != 100:
    print("The sum is not 100. Please try again!")
    a = int(input("enter the number"))
    b = int(input("enter the number"))
print("The sum is 100!")

enter the number55
enter the number76
The sum is not 100. Please try again!
enter the number60
enter the number40
The sum is 100!